In [1]:
# Import các thư viện cần thiết

import pandas as pd
import numpy as np

# Import bộ dữ liệu
df = pd.read_csv('data/NASA Near-Earth Objects.csv', index_col=0)
df.index = range(1, len(df) + 1) 

# Xem qua dữ liệu bộ dữ liệu
df.head()

,id,neo_reference_id,name,name_limited,designation,absolute_magnitude_h,is_potentially_hazardous_asteroid,is_sentry_object,kilometers_estimated_diameter_min,kilometers_estimated_diameter_max,orbit_id,orbit_class_type,perihelion_distance,aphelion_distance,first_observation_date,last_observation_date,orbit_class_description
1,2001981,2001981,1981 Midas (1973 EA),Midas,1981,15.22,True,False,2.401900,5.370812,229,APO,0.621512,2.931360,1973-03-06,2021-10-20,Near-Earth asteroid orbits which cross the Ear...
2,2002059,2002059,2059 Baboquivari (1963 UA),Baboquivari,2059,15.97,False,False,1.700415,3.802244,268,AMO,1.238537,4.047945,1963-10-16,2021-04-15,Near-Earth asteroid orbits similar to that of ...
3,2002061,2002061,2061 Anza (1960 UA),Anza,2061,16.36,False,False,1.420872,3.177167,180,AMO,1.050403,3.478155,1960-10-22,2021-06-12,Near-Earth asteroid orbits similar to that of ...
4,2002062,2002062,2062 Aten (1976 AA),Aten,2062,17.10,False,False,1.010543,2.259644,149,ATE,0.790185,1.143633,1955-12-17,2019-11-10,Near-Earth asteroid orbits similar to that of ...
5,2002063,2002063,2063 Bacchus (1977 HB),Bacchus,2063,17.28,False,False,0.930154,2.079888,143,APO,0.701397,1.454804,1977-04-24,2021-12-02,Near-Earth asteroid orbits which cross the Ear...

### 4. Xác định vấn đề bài toán

#### 4.2. Loại bỏ các thuộc tính không liên quan đến vấn đề bài toán

Loại bỏ các thuộc tính không liên quan đến bài toán gồm:
* neo_reference_id (trùng lặp với id)
* name, name_limited, designation (đều chỉ để định danh NEO)
* orbit_id (chỉ để định danh quỹ đạo NEO).

In [ ]:
df.drop(columns=['neo_reference_id', 'name_limited', 'orbit_id', 'name','designation' ], inplace=True)

### 5. Tiền xử lý dữ liệu

#### 5.1. Tìm và xử lý giá trị bị khuyết

Đầu tiên, ta tính số lượng giá trị bị khuyết trong tổng thể bộ dữ liệu bằng cách tính số lượng các ký tự biểu trưng cho giá trị bị khuyết.

In [3]:
# Tìm các ký tự đặc biệt được sử dụng để thể hiện giá trị bị thiếu

missing_values = [".", "?", "_", "-", "", "None", "NULL", "Not", "|", np.nan]
for value in missing_values:
    print("Số lượng giá trị khuyết: ",df.isin([value]).sum().sum(), " đối với ", value)

Số lượng giá trị khuyết:  0  đối với  .
Số lượng giá trị khuyết:  0  đối với  ?
Số lượng giá trị khuyết:  0  đối với  _
Số lượng giá trị khuyết:  0  đối với  -
Số lượng giá trị khuyết:  0  đối với
Số lượng giá trị khuyết:  0  đối với  None
Số lượng giá trị khuyết:  0  đối với  NULL
Số lượng giá trị khuyết:  0  đối với  Not
Số lượng giá trị khuyết:  0  đối với  |
Số lượng giá trị khuyết:  24  đối với  nan

Tiếp theo, ta tính số lượng giá trị khuyết theo từng thuộc tính.

In [4]:
df.isnull().sum()

id                                   0
absolute_magnitude_h                 8
is_potentially_hazardous_asteroid    0
is_sentry_object                     0
kilometers_estimated_diameter_min    8
kilometers_estimated_diameter_max    8
orbit_class_type                     0
perihelion_distance                  0
aphelion_distance                    0
first_observation_date               0
last_observation_date                0
orbit_class_description              0
dtype: int64

Ta xem các hàng dữ liệu chứa giá trị bị khuyết tại absolute_magnitude_h.

In [5]:
dataFrame_missingData_absolute_magnitude_h  = df[df['absolute_magnitude_h'].isnull()]
dataFrame_missingData_absolute_magnitude_h

,id,absolute_magnitude_h,is_potentially_hazardous_asteroid,is_sentry_object,kilometers_estimated_diameter_min,kilometers_estimated_diameter_max,orbit_class_type,perihelion_distance,aphelion_distance,first_observation_date,last_observation_date,orbit_class_description
7093,3592397,NaN,False,False,0.096506,0.215794,AMO,1.030625,1.833895,2010-01-12,2010-01-14,Near-Earth asteroid orbits similar to that of ...
7094,3529628,NaN,False,False,0.242412,0.542051,AMO,1.296142,1.585558,2010-01-14,2010-01-16,Near-Earth asteroid orbits similar to that of ...
7281,3593352,NaN,False,False,0.242412,0.542051,AMO,1.283669,2.252321,2010-04-11,2010-04-13,Near-Earth asteroid orbits similar to that of ...
7293,3593534,NaN,False,False,0.237988,0.532157,AMO,1.124254,1.633350,2010-04-19,2010-04-21,Near-Earth asteroid orbits similar to that of ...
7296,3593636,NaN,False,False,0.050647,0.113250,AMO,1.248248,1.606883,2010-04-28,2010-04-30,Near-Earth asteroid orbits similar to that of ...
7397,3594572,NaN,False,False,0.552783,1.236061,AMO,1.288272,1.780744,2010-06-17,2010-06-21,Near-Earth asteroid orbits similar to that of ...
7400,3536587,NaN,False,False,NaN,NaN,APO,0.809472,1.333837,2010-06-23,2010-06-25,Near-Earth asteroid orbits which cross the Ear...
7401,3536588,NaN,False,False,0.110295,0.246627,APO,0.587842,1.866107,2010-06-23,2010-06-24,Near-Earth asteroid orbits which cross the Ear...