In [7]:
import pandas as pd
filename = '../../data/NASA Near-Earth Objects-CleanbyThang.csv'
df = pd.read_csv(filename)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23999 entries, 0 to 23998
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 23999 non-null  int64
 1   absolute_magnitude_h               23999 non-null  float64
 2   is_potentially_hazardous_asteroid  23999 non-null  bool
 3   is_sentry_object                   23999 non-null  bool
 4   kilometers_estimated_diameter_min  23999 non-null  float64
 5   kilometers_estimated_diameter_max  23999 non-null  float64
 6   orbit_class_type                   23999 non-null  object
 7   perihelion_distance                23999 non-null  float64
 8   aphelion_distance                  23999 non-null  float64
 9   first_observation_date             23999 non-null  object
 10  last_observation_date              23999 non-null  object
 11  orbit_class_description            23999 non-null  object
dtypes: bool(2), float64(5), int64(1), object(4)
memory usage: 1.9+ MB

In [8]:
df['orbit_class_type'] = df['orbit_class_type'].astype('category')

In [9]:
df['first_observation_date'] = pd.to_datetime(df['first_observation_date'], errors='coerce')
df['last_observation_date'] = pd.to_datetime(df['last_observation_date'], errors='coerce')

In [10]:
print(df['first_observation_date'].isnull().sum())
print(df['last_observation_date'].isnull().sum())
df['first_observation_date'] = df['first_observation_date'].fillna('2008-01-01')
df['first_observation_date'] = pd.to_datetime(df['first_observation_date'], errors='coerce')

1
0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23999 entries, 0 to 23998
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 23999 non-null  int64
 1   absolute_magnitude_h               23999 non-null  float64
 2   is_potentially_hazardous_asteroid  23999 non-null  bool
 3   is_sentry_object                   23999 non-null  bool
 4   kilometers_estimated_diameter_min  23999 non-null  float64
 5   kilometers_estimated_diameter_max  23999 non-null  float64
 6   orbit_class_type                   23999 non-null  category
 7   perihelion_distance                23999 non-null  float64
 8   aphelion_distance                  23999 non-null  float64
 9   first_observation_date             23999 non-null  datetime64[ns]
 10  last_observation_date              23999 non-null  datetime64[ns]
 11  orbit_class_description            23999 non-null  object
dtypes: bool(2), category(1), datetime64[ns](2), float64(5), int64(1), object(1)
memory usage: 1.7+ MB

In [12]:
df.to_csv(filename,index=False)