In [42]:
import pandas as pd
filename = '../../data/NASA Near-Earth Objects-CleanbyThang.csv'
df = pd.read_csv(filename)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23999 entries, 0 to 23998
Data columns (total 15 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 23999 non-null  int64
 1   absolute_magnitude_h               23999 non-null  float64
 2   is_potentially_hazardous_asteroid  23999 non-null  bool
 3   is_sentry_object                   23999 non-null  bool
 4   kilometers_estimated_diameter_min  23999 non-null  float64
 5   kilometers_estimated_diameter_max  23999 non-null  float64
 6   orbit_class_type                   23999 non-null  object
 7   perihelion_distance                23999 non-null  float64
 8   aphelion_distance                  23999 non-null  float64
 9   first_observation_date             23999 non-null  object
 10  last_observation_date              23999 non-null  object
 11  orbit_class_description            23999 non-null  object
 12  first_observation_year             23999 non-null  int64
 13  last_observation_year              23999 non-null  int64
 14  is_collidable                      23999 non-null  bool
dtypes: bool(3), float64(5), int64(3), object(4)
memory usage: 2.3+ MB

In [43]:
df['orbit_class_type'] = df['orbit_class_type'].astype('category')

In [44]:
df['first_observation_date'] = pd.to_datetime(df['first_observation_date'], errors='coerce')
df['last_observation_date'] = pd.to_datetime(df['last_observation_date'], errors='coerce')

In [45]:
print(df['first_observation_date'].isnull().sum())
print(df['last_observation_date'].isnull().sum())
df['first_observation_date'] = df['first_observation_date'].fillna('2008-01-01')
df['first_observation_date'] = pd.to_datetime(df['first_observation_date'], errors='coerce')

0
0

In [52]:
df = df[~((df['first_observation_date'].dt.year < 2021) & (df['is_potentially_hazardous_asteroid'] == False))]
df.head()

,id,absolute_magnitude_h,is_potentially_hazardous_asteroid,is_sentry_object,kilometers_estimated_diameter_min,kilometers_estimated_diameter_max,orbit_class_type,perihelion_distance,aphelion_distance,first_observation_date,last_observation_date,orbit_class_description,first_observation_year,last_observation_year,is_collidable
0,2001981,15.22,True,False,2.401900,5.370812,APO,0.621512,2.931360,1973-03-06,2021-10-20,Near-Earth asteroid orbits which cross the Ear...,11,27,True
6,2002101,18.64,True,False,0.497227,1.111834,APO,0.441899,3.305989,1936-02-21,2020-06-09,Near-Earth asteroid orbits which cross the Ear...,2,26,True
7,2002102,16.00,True,False,1.677085,3.750075,APO,0.903997,1.676122,1975-12-30,2021-09-22,Near-Earth asteroid orbits which cross the Ear...,13,27,True
8,2002135,18.02,True,False,0.661538,1.479245,APO,0.794616,2.404383,1977-04-17,2020-05-30,Near-Earth asteroid orbits which cross the Ear...,15,26,True
9,2002201,15.25,True,False,2.368945,5.297122,APO,0.624199,3.724973,1931-12-03,2021-09-16,Near-Earth asteroid orbits which cross the Ear...,0,27,True

In [53]:

# chuyển các cột ngày tháng năm thành năm 
df['first_observation_year'] = df['first_observation_date'].dt.year
df['last_observation_year'] = df['last_observation_date'].dt.year

# drop dữ liệu từ trước 2021 nếu cột is_potential  là false


df.head()

,id,absolute_magnitude_h,is_potentially_hazardous_asteroid,is_sentry_object,kilometers_estimated_diameter_min,kilometers_estimated_diameter_max,orbit_class_type,perihelion_distance,aphelion_distance,first_observation_date,last_observation_date,orbit_class_description,first_observation_year,last_observation_year,is_collidable
0,2001981,15.22,True,False,2.401900,5.370812,APO,0.621512,2.931360,1973-03-06,2021-10-20,Near-Earth asteroid orbits which cross the Ear...,1973,2021,True
6,2002101,18.64,True,False,0.497227,1.111834,APO,0.441899,3.305989,1936-02-21,2020-06-09,Near-Earth asteroid orbits which cross the Ear...,1936,2020,True
7,2002102,16.00,True,False,1.677085,3.750075,APO,0.903997,1.676122,1975-12-30,2021-09-22,Near-Earth asteroid orbits which cross the Ear...,1975,2021,True
8,2002135,18.02,True,False,0.661538,1.479245,APO,0.794616,2.404383,1977-04-17,2020-05-30,Near-Earth asteroid orbits which cross the Ear...,1977,2020,True
9,2002201,15.25,True,False,2.368945,5.297122,APO,0.624199,3.724973,1931-12-03,2021-09-16,Near-Earth asteroid orbits which cross the Ear...,1931,2021,True

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2094 entries, 0 to 23918
Data columns (total 15 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 2094 non-null   int64
 1   absolute_magnitude_h               2094 non-null   float64
 2   is_potentially_hazardous_asteroid  2094 non-null   bool
 3   is_sentry_object                   2094 non-null   bool
 4   kilometers_estimated_diameter_min  2094 non-null   float64
 5   kilometers_estimated_diameter_max  2094 non-null   float64
 6   orbit_class_type                   2094 non-null   category
 7   perihelion_distance                2094 non-null   float64
 8   aphelion_distance                  2094 non-null   float64
 9   first_observation_date             2094 non-null   datetime64[ns]
 10  last_observation_date              2094 non-null   datetime64[ns]
 11  orbit_class_description            2094 non-null   object
 12  first_observation_year             2094 non-null   int32
 13  last_observation_year              2094 non-null   int32
 14  is_collidable                      2094 non-null   bool
dtypes: bool(3), category(1), datetime64[ns](2), float64(5), int32(2), int64(1), object(1)
memory usage: 188.3+ KB

In [54]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['first_observation_year']=encoder.fit_transform(df['first_observation_year'])
df['last_observation_year']=encoder.fit_transform(df['last_observation_year'])


df['last_observation_date'].value_counts()

last_observation_date
2021-12-02    9
2022-04-14    9
2022-03-01    8
2022-04-15    8
2022-03-27    8
             ..
2002-07-07    1
2002-07-31    1
2005-07-15    1
2002-10-31    1
2020-11-08    1
Name: count, Length: 1343, dtype: int64

In [55]:
df.head()

,id,absolute_magnitude_h,is_potentially_hazardous_asteroid,is_sentry_object,kilometers_estimated_diameter_min,kilometers_estimated_diameter_max,orbit_class_type,perihelion_distance,aphelion_distance,first_observation_date,last_observation_date,orbit_class_description,first_observation_year,last_observation_year,is_collidable
0,2001981,15.22,True,False,2.401900,5.370812,APO,0.621512,2.931360,1973-03-06,2021-10-20,Near-Earth asteroid orbits which cross the Ear...,11,27,True
6,2002101,18.64,True,False,0.497227,1.111834,APO,0.441899,3.305989,1936-02-21,2020-06-09,Near-Earth asteroid orbits which cross the Ear...,2,26,True
7,2002102,16.00,True,False,1.677085,3.750075,APO,0.903997,1.676122,1975-12-30,2021-09-22,Near-Earth asteroid orbits which cross the Ear...,13,27,True
8,2002135,18.02,True,False,0.661538,1.479245,APO,0.794616,2.404383,1977-04-17,2020-05-30,Near-Earth asteroid orbits which cross the Ear...,15,26,True
9,2002201,15.25,True,False,2.368945,5.297122,APO,0.624199,3.724973,1931-12-03,2021-09-16,Near-Earth asteroid orbits which cross the Ear...,0,27,True

In [56]:
df.to_csv(filename,index=False)