In [59]:
import pandas as pd
filename = '../../data/NASA Near-Earth Objects-CleanbyThang.csv'
df = pd.read_csv(filename)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23999 entries, 0 to 23998
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 23999 non-null  int64
 1   absolute_magnitude_h               23999 non-null  float64
 2   is_potentially_hazardous_asteroid  23999 non-null  bool
 3   is_sentry_object                   23999 non-null  bool
 4   kilometers_estimated_diameter_min  23999 non-null  float64
 5   kilometers_estimated_diameter_max  23999 non-null  float64
 6   orbit_class_type                   23999 non-null  object
 7   perihelion_distance                23999 non-null  float64
 8   aphelion_distance                  23999 non-null  float64
 9   first_observation_date             23999 non-null  object
 10  last_observation_date              23999 non-null  object
 11  orbit_class_description            23999 non-null  object
dtypes: bool(2), float64(5), int64(1), object(4)
memory usage: 1.9+ MB

In [60]:
df['orbit_class_type'] = df['orbit_class_type'].astype('category')

In [61]:
df['first_observation_date'] = pd.to_datetime(df['first_observation_date'], errors='coerce')
df['last_observation_date'] = pd.to_datetime(df['last_observation_date'], errors='coerce')

In [62]:
print(df['first_observation_date'].isnull().sum())
print(df['last_observation_date'].isnull().sum())
df['first_observation_date'] = df['first_observation_date'].fillna('2008-01-01')
df['first_observation_date'] = pd.to_datetime(df['first_observation_date'], errors='coerce')

1
0

In [63]:
df = df[~((df['last_observation_date'].dt.year < 2021) & (df['is_potentially_hazardous_asteroid'] == False))]
df.head()

,id,absolute_magnitude_h,is_potentially_hazardous_asteroid,is_sentry_object,kilometers_estimated_diameter_min,kilometers_estimated_diameter_max,orbit_class_type,perihelion_distance,aphelion_distance,first_observation_date,last_observation_date,orbit_class_description
0,2001981,15.22,True,False,2.401900,5.370812,APO,0.621512,2.931360,1973-03-06,2021-10-20,Near-Earth asteroid orbits which cross the Ear...
1,2002059,15.97,False,False,1.700415,3.802244,AMO,1.238537,4.047945,1963-10-16,2021-04-15,Near-Earth asteroid orbits similar to that of ...
2,2002061,16.36,False,False,1.420872,3.177167,AMO,1.050403,3.478155,1960-10-22,2021-06-12,Near-Earth asteroid orbits similar to that of ...
4,2002063,17.28,False,False,0.930154,2.079888,APO,0.701397,1.454804,1977-04-24,2021-12-02,Near-Earth asteroid orbits which cross the Ear...
5,2002100,16.23,False,False,1.508534,3.373184,ATE,0.468751,1.195322,1975-10-03,2021-12-02,Near-Earth asteroid orbits similar to that of ...

In [64]:
df = df[~((df['last_observation_date'].dt.year < 2021) & (df['is_potentially_hazardous_asteroid'] == False))]
df.head()

,id,absolute_magnitude_h,is_potentially_hazardous_asteroid,is_sentry_object,kilometers_estimated_diameter_min,kilometers_estimated_diameter_max,orbit_class_type,perihelion_distance,aphelion_distance,first_observation_date,last_observation_date,orbit_class_description
0,2001981,15.22,True,False,2.401900,5.370812,APO,0.621512,2.931360,1973-03-06,2021-10-20,Near-Earth asteroid orbits which cross the Ear...
1,2002059,15.97,False,False,1.700415,3.802244,AMO,1.238537,4.047945,1963-10-16,2021-04-15,Near-Earth asteroid orbits similar to that of ...
2,2002061,16.36,False,False,1.420872,3.177167,AMO,1.050403,3.478155,1960-10-22,2021-06-12,Near-Earth asteroid orbits similar to that of ...
4,2002063,17.28,False,False,0.930154,2.079888,APO,0.701397,1.454804,1977-04-24,2021-12-02,Near-Earth asteroid orbits which cross the Ear...
5,2002100,16.23,False,False,1.508534,3.373184,ATE,0.468751,1.195322,1975-10-03,2021-12-02,Near-Earth asteroid orbits similar to that of ...

In [65]:

# chuyển các cột ngày tháng năm thành năm 
df['first_observation_year'] = df['first_observation_date'].dt.year
df['last_observation_year'] = df['last_observation_date'].dt.year

# drop dữ liệu từ trước 2021 nếu cột is_potential  là false


df.head()

,id,absolute_magnitude_h,is_potentially_hazardous_asteroid,is_sentry_object,kilometers_estimated_diameter_min,kilometers_estimated_diameter_max,orbit_class_type,perihelion_distance,aphelion_distance,first_observation_date,last_observation_date,orbit_class_description,first_observation_year,last_observation_year
0,2001981,15.22,True,False,2.401900,5.370812,APO,0.621512,2.931360,1973-03-06,2021-10-20,Near-Earth asteroid orbits which cross the Ear...,1973,2021
1,2002059,15.97,False,False,1.700415,3.802244,AMO,1.238537,4.047945,1963-10-16,2021-04-15,Near-Earth asteroid orbits similar to that of ...,1963,2021
2,2002061,16.36,False,False,1.420872,3.177167,AMO,1.050403,3.478155,1960-10-22,2021-06-12,Near-Earth asteroid orbits similar to that of ...,1960,2021
4,2002063,17.28,False,False,0.930154,2.079888,APO,0.701397,1.454804,1977-04-24,2021-12-02,Near-Earth asteroid orbits which cross the Ear...,1977,2021
5,2002100,16.23,False,False,1.508534,3.373184,ATE,0.468751,1.195322,1975-10-03,2021-12-02,Near-Earth asteroid orbits similar to that of ...,1975,2021

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4568 entries, 0 to 23971
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 4568 non-null   int64
 1   absolute_magnitude_h               4568 non-null   float64
 2   is_potentially_hazardous_asteroid  4568 non-null   bool
 3   is_sentry_object                   4568 non-null   bool
 4   kilometers_estimated_diameter_min  4568 non-null   float64
 5   kilometers_estimated_diameter_max  4568 non-null   float64
 6   orbit_class_type                   4568 non-null   category
 7   perihelion_distance                4568 non-null   float64
 8   aphelion_distance                  4568 non-null   float64
 9   first_observation_date             4568 non-null   datetime64[ns]
 10  last_observation_date              4568 non-null   datetime64[ns]
 11  orbit_class_description            4568 non-null   object
 12  first_observation_year             4568 non-null   int32
 13  last_observation_year              4568 non-null   int32
dtypes: bool(2), category(1), datetime64[ns](2), float64(5), int32(2), int64(1), object(1)
memory usage: 406.1+ KB

In [67]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['first_observation_year']=encoder.fit_transform(df['first_observation_year'])
df['last_observation_year']=encoder.fit_transform(df['last_observation_year'])


df['last_observation_date'].value_counts()

last_observation_date
2022-04-15    40
2022-04-09    37
2022-04-08    35
2022-03-02    33
2021-11-28    33
              ..
2016-06-03     1
2012-05-27     1
2004-01-30     1
2004-01-19     1
2021-01-20     1
Name: count, Length: 1464, dtype: int64

In [68]:
df.head()

,id,absolute_magnitude_h,is_potentially_hazardous_asteroid,is_sentry_object,kilometers_estimated_diameter_min,kilometers_estimated_diameter_max,orbit_class_type,perihelion_distance,aphelion_distance,first_observation_date,last_observation_date,orbit_class_description,first_observation_year,last_observation_year
0,2001981,15.22,True,False,2.401900,5.370812,APO,0.621512,2.931360,1973-03-06,2021-10-20,Near-Earth asteroid orbits which cross the Ear...,19,27
1,2002059,15.97,False,False,1.700415,3.802244,AMO,1.238537,4.047945,1963-10-16,2021-04-15,Near-Earth asteroid orbits similar to that of ...,14,27
2,2002061,16.36,False,False,1.420872,3.177167,AMO,1.050403,3.478155,1960-10-22,2021-06-12,Near-Earth asteroid orbits similar to that of ...,13,27
4,2002063,17.28,False,False,0.930154,2.079888,APO,0.701397,1.454804,1977-04-24,2021-12-02,Near-Earth asteroid orbits which cross the Ear...,23,27
5,2002100,16.23,False,False,1.508534,3.373184,ATE,0.468751,1.195322,1975-10-03,2021-12-02,Near-Earth asteroid orbits similar to that of ...,21,27

In [69]:
df.to_csv(filename,index=False)